<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light" id="burgerbtn" (click)="clicedOnBurgerMenu()">
    <i class="lni lni-list"></i>
  </div>

  <a href="#" class="navbar-brand px-4"> header</a>

  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown toggle" role="button" data-bs-toggle="dropdown dropdown-content"> menu1</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a href="#" class="dropdown-item"> child1</a></li>
          <li><a href="#" class="dropdown-item"> child2</a></li>
          <li><a href="#" class="dropdown-item"> child3</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown toggle" role="button" data-bs-toggle="dropdown dropdown-content"> menu1</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a href="#" class="dropdown-item"> child1</a></li>
          <li><a href="#" class="dropdown-item"> child2</a></li>
          <li><a href="#" class="dropdown-item"> child3</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown toggle" role="button" data-bs-toggle="dropdown dropdown-content"> menu1</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a href="#" class="dropdown-item"> child1</a></li>
          <li><a href="#" class="dropdown-item"> child2</a></li>
          <li><a href="#" class="dropdown-item"> child3</a></li>
        </ul>
      </li>


    </ul>

  </div>
  <form action="" class="d-flex me-5">
    <input type="search" class="form-control me-2" placeholder="serch">
    <button class="btn btn-outline-light" type="submit">search</button>
  </form>
  <div class="profile-menu dropstart">
    <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">profile</button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a href="#" class="dropdown-item">sign-in</a></li>
      <li><a href="#" class="dropdown-item">sign-up</a></li>
      <li><a href="#" class="dropdown-item">profile</a></li>
      <li><a href="#" class="dropdown-item">logout</a></li>
    </ul>

  </div>
</nav>