<mat-card>
  <mat-card-header>
    <mat-form-field>
      <input matInput type="text" placeholder="Enter The Text" (keyup)="filterserch($event)">
    </mat-form-field>

    <button style="margin-left: 60%;" mat-raised-button color="accent" (click)="addcustomer()">add user(+)</button>
  </mat-card-header>
  <mat-card-content>



    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="no">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>no </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i
          + 1) }} </td>

      </ng-container>

      <!-- <ng-container matColumnDef="code">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>code </th>
        <td mat-cell *matCellDef="let element">{{element.code}} </td>
      </ng-container> -->

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let element">{{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element">{{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> phone </th>
        <td mat-cell *matCellDef="let element">{{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>gender</th>
        <td mat-cell *matCellDef="let element">{{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element">{{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="editcustomer(element.id)" class="m-2">edit</button>
          <button mat-raised-button color="accent" (click)="deletecustomer(element.id)">delet</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
  </mat-card-content>
  <br>
  <mat-card-footer>
    <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons="" aria-label="Select page">
      ></mat-paginator>
  </mat-card-footer>
</mat-card>